<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
      <key>items</key>
      <array>
        <dict>
           <key>assets</key>
           <array>
             <dict>
               <key>kind</key>
               <string>software-package</string>
               <key>url</key>
               <string><![CDATA[https://download1487.mediafire.com/f1tzd03m95qgSvi_5QAaMpFqey4Fbd6GWWTDtH4TfJvw2Ww9kx8dKiacFoHkUH2Fm7Hg-cU7BlvTW8r5Q5dZcjKNofMp/l8kwt9dg8ooho2a/Random+Dice_7.9.3_1677727015.ipa]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>display-image</string>
               <key>needs-shine</key>
               <integer>0</integer>
               <key>url</key>
               <string><![CDATA[https://download1075.mediafire.com/c6kj5hk0x59g9CqqTo0xBkrKTqq8ii0xONZQjAiXDyODEt9LLuDzwQ0nSOmPozBc8nNPwDy1hTJt9-z6jgg1juTelqNN/o0i96prkwah1cta/rd.jpg]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>full-size-image</string>
               <key>needs-shine</key>
               <true/>
               <key>url</key>
               <string><![CDATA[https://download1075.mediafire.com/c6kj5hk0x59g9CqqTo0xBkrKTqq8ii0xONZQjAiXDyODEt9LLuDzwQ0nSOmPozBc8nNPwDy1hTJt9-z6jgg1juTelqNN/o0i96prkwah1cta/rd.jpg]]></string>
             </dict>
           </array>
           <key>metadata</key>
           <dict>
             <key>bundle-identifier</key>
             <string>com.xtools.percent.royaldice</string>
             <key>bundle-version</key>
             <string><![CDATA[1.0.0]]></string>
             <key>kind</key>
             <string>software</string>
             <key>title</key>
             <string><![CDATA[Random Dice]]></string>			 
           </dict>
        </dict>
      </array>
  </dict>
</plist>